<!DOCTYPE html>
<html ng-app="earthx">

<head> 
<link rel="stylesheet" href="./app.css" />
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"> </script>
<script src="./app.js"> </script> 	
</head>

<body > 
	<section ng-scroll="" ng-mouse-wheel-down=""  ng-controller="ImageController as imageCtrl"> 
		<div ng-repeat="row in imageCtrl.images" ng-show-initial-block class="ng-repeat-line" >
			<span id="{{image.id}}" class="ng-repeat-custom-class" ng-repeat="image in row">
				<img alt= "" ng-src="{{image.url}}"/> 
			</span>
			</br>
		</div>
		</br>
	</section>
</body>
</html>